.loginContainer {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContainer > h1 {
  position: absolute;
  top: 40px;
  left: 11%;
  cursor: pointer;
}

form {
  width: 450px;
}

input {
  outline: none;
}

input,
label {
  cursor: pointer;
}

.errorMsgm {
  color: red;
  font-size: small;
  display: none;
}

.inputWrapper {
  min-width: 100%;
  position: relative;

  display: flex;
  align-items: center;
}

.inputWrapper > input {
  width: 100%;
  padding: 10px;
  padding-right: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#eyeBox {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  max-width: fit-content;
  cursor: pointer;
}

input[type="submit"] {
  border-radius: 5px;
  border: none;
  padding: 12px;
  color: #fff;
  background-color: blue;
  font-weight: bold;
  transition: 0.2s;
}

input[type="submit"]:hover {
  background-color: rgb(43, 43, 255);
}

a {
  margin-top: 5px;
  text-align: center;
  text-decoration: none;
}
