section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addBtn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
