section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addBtn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  bottom: 40px;
  right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  border: none;

  background-color: #006ed6;
  color: #fff;

  transition: 0.2s;
}

.addBtn:hover {
  background-color: #80b7eb;
}
